#Toper {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 98, 61);
    color: white;

    * {
        margin: 0;
        padding: 0;
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 13px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .space {
        width: 50%;
        height: 100%;
    }

    .reseaux {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
            width: 20px;
            filter: invert(100%);
        }
    }
}